<h2>Bloggers</h2>
<label for="switch" class="inline">
    All bloggers
    <input type="checkbox" id="following-toggle" name="switch" role="switch" class="two-option-toggle">
    Following
</label>

<article>
    <section>
        <hgroup>
            <a href="/bloggers/example"><h3>Name of the blogger</h3></a>
            <p>This is the bio of the author/ blogger. Author and blogger are used interchangeably.</p>
        </hgroup>
        <div class="inline">
            27 Followers
            <a href="#" role="button">Follow</a>
        </div>
    </section>
    <hr>
    <section>
        <hgroup>
            <a href="/bloggers/example"><h3>Name of the blogger</h3></a>
            <p>This is the bio of the author/ blogger. Author and blogger are used interchangeably.</p>
        </hgroup>
        <div class="inline">
            27 Followers
            <a href="#" role="button">Follow</a>
        </div>
    </section>
    <hr>
    <section>
        <hgroup>
            <a href="/bloggers/example"><h3>Name of the blogger</h3></a>
            <p>This is the bio of the author/ blogger. Author and blogger are used interchangeably.</p>
        </hgroup>
        <div class="inline">
            27 Followers
            <a href="#" role="button">Follow</a>
        </div>
    </section>
    <hr>
</article>