<h2>Tim Westington</h2>
<p>This is an example of a bio for someone's blogging page</p>

<h3>Tim's posts</h3>
<section>
    <div class="grid-basic">
        <a href="/posts/individual-post">
            <article>
                <hgroup>
                    <h3>Post title</h3>
                    <p>By: Tim Westington</p>
                </hgroup>
                <p style="color:hsl(205, 20%, 32%)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eleifend est urna, vel rhoncus mauris.</p>
            </article>
        </a>
        <a href="/posts/individual-post">
            <article>
                <hgroup>
                    <h3>Post title</h3>
                    <p>By: Tim Westington</p>
                </hgroup>
                <p style="color:hsl(205, 20%, 32%)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eleifend est urna, vel rhoncus mauris.</p>
            </article>
        </a>
        <a href="/posts/individual-post">
            <article>
                <hgroup>
                    <h3>Post title</h3>
                    <p>By: Tim Westington</p>
                </hgroup>
                <p style="color:hsl(205, 20%, 32%)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eleifend est urna, vel rhoncus mauris.</p>
            </article>
        </a>
        <a href="/posts/individual-post">
            <article>
                <hgroup>
                    <h3>Post title</h3>
                    <p>By: Tim Westington</p>
                </hgroup>
                <p style="color:hsl(205, 20%, 32%)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eleifend est urna, vel rhoncus mauris.</p>
            </article>
        </a>
    </div>
</section>