<h2><%= locals.author.name %></h2>
<p><%= locals.author.authorBio ? locals.author.authorBio : '' %></p>

<h3><%= locals.author.name %>'s posts</h3>
<section>
    <div class="grid-basic">
        <% locals.posts.forEach(post => { %> 
            <%- include('../partials/post.ejs', { post: post }) %>
        <% }) %>
    </div>
</section>