<h3>Categories</h3>

<section>
    <a href="/admin/categories/new" role="button">New</a>
</section>
<% locals.categories.forEach(category => { %> 
    <section>
        <div class="inline">
            <%= category.name %>
            <a href="#" role="button" class="secondary">Edit</a>
            <a href="#" role="button">Delete</a>
        </div>
    </section>
    <hr>
<% }) %>