<h2>New Category</h2>
<a href="/admin/categories" method="POST">Cancel</a>
<form action="/admin/categories" method="POST">
    <%- include('_form_fields') %> 
    <button type="submit">Create Category</button>
</form>