<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="container">
        <hgroup>
            <h1>This is a blog!</h1>
            <h2>A classic blog layout</h2>
        </hgroup>
        <p><a href="#" role="button" onclick="event.preventDefault()">Call to action</a></p>
    </header>

    <main class="container">
        <div class="grid">
            <section>
                <hgroup>
                    <h2>Recent posts</h2>
                    <div class="grid">
                        <article>Hello World</article>
                        <article>Hello World</article>
                        <article>Hello World</article>
                    </div>
                </hgroup>
            </section>
        </div>
    </main>
</body>
</html>