<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="container">
        <hgroup>
            <h1>This is a blog!</h1>
            <h2>A classic blog layout</h2>
        </hgroup>
        <p><a href="#" role="button" onclick="event.preventDefault()">Call to action</a></p>
    </header>

    <main class="container">
        <div class="grid">
            <section>
                <hgroup>
                    <h2>Recent posts</h2>
                    <div class="grid">
                        <article>
                            <h3>Post title</h3>
                            <p>This is the short description of the post. Click to read more...</p>
                        </article>
                        <article>
                            <h3>Post title</h3>
                            <p>This is the short description of the post. Click to read more...</p>
                        </article>
                        <article>
                            <h3>Post title</h3>
                            <p>This is the short description of the post. Click to read more...</p>
                        </article>
                    </div>
                    <p><a href="/posts" role="button">Read more posts</a></p>
                    <p>Cras a convallis nibh, a accumsan turpis. Duis ligula mauris, dictum ut molestie in, fermentum sed sapien. Praesent interdum semper odio vel luctus. Nulla facilisi. Vivamus vel massa vel dolor gravida cursus. Aenean venenatis purus nec magna aliquet, non tristique nulla finibus. Ut posuere molestie convallis. Suspendisse at ipsum arcu. Aliquam quis semper turpis. Pellentesque varius lacus metus. Nulla ante augue, condimentum nec sapien in, laoreet vestibulum tortor.</p>
                    <p>Integer vitae congue risus. Donec id nisi massa. Nulla facilisi. Duis fermentum ante lectus, ut feugiat nisi imperdiet sed. Proin neque diam, consequat eu lacus quis, semper vestibulum erat. Donec eget auctor odio. Proin volutpat leo non augue dapibus, eget varius risus mattis. Mauris pharetra ornare tortor, vitae ornare risus. Curabitur sodales orci quam, tempor luctus dui imperdiet a. Vivamus pulvinar risus metus, in rutrum dui tincidunt eget.</p>
                </hgroup>
            </section>
        </div>
    </main>
</body>
</html>