<div class="hero" data-theme="dark">
    <nav class="container-fluid">
        <ul>
            <li>
                <a href="/"><strong>Blog</strong></a>
            </li>
        </ul>
        <ul>
            <li><a href="/posts">Posts</a></li>
            <li><a href="#">My Account</a></li>
        </ul>
    </nav>
</div>