<div class="" data-theme="dark">
    <nav class="container-fluid">
        <ul>
            <li>
                <a href="/"><strong>Blog</strong></a>
            </li>
        </ul>
        <ul>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/bloggers">Bloggers</a></li>
            <% if (locals.amAdmin) { %>
                <li><a href="/admin">Admin controls</a></li>
            <% } %>
            <% if (locals.user) { %>
                <li><a href="#">My Account</a></li>
                <li><a href="/auth/logout">Log out</a></li>
            <% } else { %>
                <li><a href="/auth/google">Login</a></li>
            <% } %>
        </ul>
    </nav>
</div>