<div class="hero" data-theme="dark">
    <%- include('../partials/header.ejs') %>
    <header class="container">
        <hgroup>
            <h1 class="shaddow">Welcome to the site!</h1>
            <h2 class="shaddow h1-color">This website is a social blogging site.</h2>
        </hgroup>
        <p><a href="https://github.com/tomowen02/Blogging-social-network" role="button" target="_blank" rel="noopener noreferrer">View source code</a></p>
    </header>
    
</div>