<a href="/posts/individual-post">
    <article class="post-article">
        <hgroup>
            <h3><%= post.title %></h3>
            <p>By: Unknown Author</p>
        </hgroup>
        <p style="color:hsl(205, 20%, 32%)"><%= post.description%></p>
        <p>Category: <%= post.category.name %></p>
    </article>
</a>