.hero {
    background-color: #394046;
    background-image: url("img/hero_background.jpg");
    background-position: center;
    background-size: cover;
}

header {
    padding: 3rem 0;
}

.shaddow {
    text-shadow: 0px 0px 12px rgba(119,119,119,0.6);
}

.h1-color {
    color: var(--h1-color);
}

.inline {
    display: inline;
}

.two-option-toggle {
    margin-inline: 0.5em;
}

.sidebar-right-grid {
    grid-template-columns: 20% auto;
}

.no-top-margin {
    margin-top: 0;
}

.post-article {
    height: 450px;
}

.margin-bottom {
    margin-bottom: 1em;
}