.inline {
    display: inline;
}

.two-option-toggle {
    margin-inline: 0.5em;
}

.sidebar-right-grid {
    grid-template-columns: 20% auto;
}

.no-top-margin {
    margin-top: 0;
}

.post-article {
    height: 400px;
}