<h3>Categories</h3>

<section>
    <div class="inline">
        Sports
        <a href="#" role="button" class="secondary">Edit</a>
        <a href="#" role="button">Delete</a>
    </div>
</section>
<hr>
<section>
    <div class="inline">
        Lifestyle
        <a href="#" role="button" class="secondary">Edit</a>
        <a href="#" role="button">Delete</a>
    </div>
</section>
<hr>
<section>
    <div class="inline">
        DIY
        <a href="#" role="button" class="secondary">Edit</a>
        <a href="#" role="button">Delete</a>
    </div>
</section>
<hr>
<section>
    <div class="inline">
        Travel
        <a href="#" role="button" class="secondary">Edit</a>
        <a href="#" role="button">Delete</a>
    </div>
</section>
<hr>
<section>
    <div class="inline">
        Entertainment
        <a href="#" role="button" class="secondary">Edit</a>
        <a href="#" role="button">Delete</a>
    </div>
</section>
<hr>
<section>
    <div class="inline">
        Finance
        <a href="#" role="button" class="secondary">Edit</a>
        <a href="#" role="button">Delete</a>
    </div>
</section>
<hr>