<h3>Dashboard</h3>
<p>This is the dashboard for admin controls. I am not sure exactly what would be on this page. Maybe just some stats about application usage.</p>
<p>There are buttons on the left sidebar to navigate to different admin controls.</p>