<label for="title">Post title</label>
<input id="title" name="title" placeholder="Title of the post" required>

<label for="description">Description</label>
<input id="description" name="description" placeholder="Short description" required>

<div class="grid">
    <div>
        <label for="slug">Slug</label>
        <input id="slug" name="slug" placeholder="Slug" required>
    </div>
    <div>
        <label for="category">Category</label>
        <input id="category" name="category" placeholder="Category" required>
    </div>
</div>

<label for="main-body">Main body</label>
<textarea id="main-body" name="main-body" placeholder="Type the body of the post here" rows="10" required></textarea>