<a href="/posts">← Back</a>

<section>
    <hgroup>
        <h2><%= locals.post.title %></h2>
        <p>By: <%= locals.post.author ? locals.post.author.name : 'Unknown Author' %></p> 
        <p><%= locals.post.description %></p>   
    </hgroup>
    <article class="no-top-margin">
        <p><%= locals.post.body %></p> 
    </article>   
</section>
<section>
    <h2>Comments</h2>
    <article>
        <h3>James Smith</h3>
        <p>Hey! Nice post.</p>
        <hr>
        <h3>Sasha Hicks</h3>
        <p>This is an example comment</p>
        <hr>
        <h3>Rohan Porta</h3>
        <p>This is an example comment</p>
    </article>
</section>