<h2>All posts</h2>
<p><a href="/posts/new" role="button">New post</a></p>
<div class="grid">
    <input type="search" id="search" name="search" placeholder="Search">
    <select id="category" required>
        <option value="" selected>Select a category</option>
        <option>…</option>
    </select>
</div>
<section>
    <label for="switch" class="inline">
        All posts
        <input type="checkbox" id="following-toggle" name="switch" role="switch" class="two-option-toggle">
        Posts from bloggers I'm following
    </label>
</section>
<section>
    <div class="grid-basic">
        <a href="/posts/individual-post">
            <article>
                <hgroup>
                    <h3>Post title</h3>
                    <p>By: Tim Westington</p>
                </hgroup>
                <p style="color:hsl(205, 20%, 32%)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eleifend est urna, vel rhoncus mauris.</p>
                <p>Category: Lifestyle</p>
            </article>
        </a>
        <a href="/posts/individual-post">
            <article>
                <hgroup>
                    <h3>Post title</h3>
                    <p>By: Tim Westington</p>
                </hgroup>
                <p style="color:hsl(205, 20%, 32%)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eleifend est urna, vel rhoncus mauris.</p>
                <p>Category: Lifestyle</p>
            </article>
        </a>
        <a href="/posts/individual-post">
            <article>
                <hgroup>
                    <h3>Post title</h3>
                    <p>By: Tim Westington</p>
                </hgroup>
                <p style="color:hsl(205, 20%, 32%)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eleifend est urna, vel rhoncus mauris.</p>
                <p>Category: Lifestyle</p>
            </article>
        </a>
        <a href="/posts/individual-post">
            <article>
                <hgroup>
                    <h3>Post title</h3>
                    <p>By: Tim Westington</p>
                </hgroup>
                <p style="color:hsl(205, 20%, 32%)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eleifend est urna, vel rhoncus mauris.</p>
                <p>Category: Lifestyle</p>
            </article>
        </a>
        <a href="/posts/individual-post">
            <article>
                <hgroup>
                    <h3>Post title</h3>
                    <p>By: Tim Westington</p>
                </hgroup>
                <p style="color:hsl(205, 20%, 32%)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eleifend est urna, vel rhoncus mauris.</p>
                <p>Category: Lifestyle</p>
            </article>
        </a>
        <a href="/posts/individual-post">
            <article>
                <hgroup>
                    <h3>Post title</h3>
                    <p>By: Tim Westington</p>
                </hgroup>
                <p style="color:hsl(205, 20%, 32%)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eleifend est urna, vel rhoncus mauris.</p>
                <p>Category: Lifestyle</p>
            </article>
        </a>
        <a href="/posts/individual-post">
            <article>
                <hgroup>
                    <h3>Post title</h3>
                    <p>By: Tim Westington</p>
                </hgroup>
                <p style="color:hsl(205, 20%, 32%)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eleifend est urna, vel rhoncus mauris.</p>
                <p>Category: Lifestyle</p>
            </article>
        </a>
        <a href="/posts/individual-post">
            <article>
                <hgroup>
                    <h3>Post title</h3>
                    <p>By: Tim Westington</p>
                </hgroup>
                <p style="color:hsl(205, 20%, 32%)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eleifend est urna, vel rhoncus mauris.</p>
                <p>Category: Lifestyle</p>
            </article>
        </a>
        <a href="/posts/individual-post">
            <article>
                <hgroup>
                    <h3>Post title</h3>
                    <p>By: Tim Westington</p>
                </hgroup>
                <p style="color:hsl(205, 20%, 32%)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eleifend est urna, vel rhoncus mauris.</p>
                <p>Category: Lifestyle</p>
            </article>
        </a>
        <a href="/posts/individual-post">
            <article>
                <hgroup>
                    <h3>Post title</h3>
                    <p>By: Tim Westington</p>
                </hgroup>
                <p style="color:hsl(205, 20%, 32%)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eleifend est urna, vel rhoncus mauris.</p>
                <p>Category: Lifestyle</p>
            </article>
        </a>
        <a href="/posts/individual-post">
            <article>
                <hgroup>
                    <h3>Post title</h3>
                    <p>By: Tim Westington</p>
                </hgroup>
                <p style="color:hsl(205, 20%, 32%)">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eleifend est urna, vel rhoncus mauris.</p>
                <p>Category: Lifestyle</p>
            </article>
        </a>
    </div>
</section>